.nav {
    display: none;
}
.navbar {
    padding-left: 20px;
    height: 37px;
    background-color: #3f4043;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbar-title {
    font-size: 12px;
    line-height: 37px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.navbar-button {
    width: 44px;
    height: 37px;
    background-color: #000;
    display: inline-block;
    position: relative;
}

.navbar-button-link,
.navbar-button-link::before,
.navbar-button-link::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
}
.navbar-button-link::before,
.navbar-button-link::after {
    content: "";
    display: block;
    transition: 0.2s;
}
.navbar-button-link::before {
    transform: translateY(-5px);
}
.navbar-button-link::after {
    transform: translateY(5px);
}
.navbar-button-active span {
    height: 0;
}
.navbar-button-active span::before {
    transform: rotate(45deg);
}
.navbar-button-active span::after {
    transform: rotate(-45deg);
}
.navbar-menu {
    position: absolute;
    right: 0;
    top: 37px;
    padding-bottom: 5px;
    width: 182px;
    display: none;
    background-color: #fafafa;
}
.navbar-menu.active {
    display: inline-block;
}

.navbar-menu-link {
    padding: 9px 12px;
    display: block;
    border-bottom: 2px solid #f2f2f2;
    font-size: 12px;
    color: #444;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.navbar-menu-link:hover {
    background-color: #f5f5f5;
}

.navbar-menu-link.active {
    background-color: #f5f5f5;
}

.header{
    padding-left: 20px;
    padding-top: 19px;
    padding-bottom: 94px;
    margin-bottom: 4px;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}

.header-site-link{
    padding-top: 11px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #a6d6e0;
    text-decoration: none;
}
.food-menu{
    display: flex;
    flex-wrap: wrap;
}
.food-menu-item {
    height: 75px;
}
.food-menu-delivery {
    margin-bottom: 2px;
    width: calc(100vw - 71px);
    height: 73px;
    text-align: center;
    background-image: url("../img/delivery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.food-menu-ua_ux {
    margin-bottom: 2px;
    width: calc(100vw - 71px);
    height: 73px;
    text-align: center;
    background-image: url("../img/ua_ux.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.food-menu-desserts {
    margin-bottom: 2px;
    width: calc(100vw - 71px);
    height: 73px;
    text-align: center;
    background-image: url("../img/desserts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.food-menu-name {
    padding-top: 27px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;    
}
.food-menu-item-element {
    position: relative;
    display: inline-block;
    left: calc(100vw - 71px);
    top: -75px;
    width: 71px;
    height: 73px;
    background-color: #add9ae;
}
.food-menu-item-element:after {
    position: absolute;
    right: 30px;
    top: 35%;
    content: ">";
    display: block;
    color: white;
}

.food-menu-bottom {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 26px;
    padding-bottom: 10px;
}
.food-menu-bottom-name {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
    text-transform: uppercase;
}
.food-menu-bottom-title {
    padding-top: 4px;
    font-size: 10.03px;
    font-family: 'Lato', sans-serif;
    color:  #cbcdce;
}
.food-menu-bottom-logo {
    display: none;
}
.price-menu-first-title-text {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    font-size: 20.07px;
    font-family: 'Lato', sans-serif;
    color:  #acd9ad;
    background-color: #3f4043;
    text-transform: uppercase;
}
.price-menu-type {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
}
.price-menu-type-text {
    margin-top: 5px;
    font-size: 15.05px;
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
    text-transform: uppercase;
}
.price-menu-items {
    padding: 12px 24px;
}
.price-menu-item {
    display: flex;
    justify-content: space-between;
}
.price-menu-item-name {
    font-size: 13.55px;
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
}
.price-menu-item-value {
    font-size: 13.55px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
}
.price-menu-items-description {
    padding-top: 8px;
    font-size: 8.78px;
    font-family: 'Lato', sans-serif;
    color:  #3f4043;
}
.price-menu-second-title-text {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    font-size: 20.07px;
    font-family: 'Lato', sans-serif;
    color:  #fff;
    background-color: #add9ae;
    text-transform: uppercase;
}
.footer {
    padding-top: 36px;
}
.footer-logo {
    display: none;
}
.footer-text {
    height: 30px;
}
.footer-text-slogan {
    padding-top: 13px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 12px;
    background-color: #add9ae;
    font-family: 'Lato', sans-serif;
    color:  #fff;
}
.footer-text-news {
    padding-top: 6px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 12px;
    background-color: #add9ae;
    font-family: 'Lato', sans-serif;
    color:  #fff;
}
@media (min-width: 639px) {
    .navbar {
        height: 74px;
        padding-left: 20px;
    }
    
    .navbar-title {
        font-size: 24px;
        line-height: 74px;
    }
    
    .navbar-button {
        width: 82px;
        height: 74px;
    }
    
    .navbar-menu {
        right: 0;
        top: 74px;
        width: 235px;
        padding-bottom: 5px;
    }
    .navbar-menu-link {
        padding: 12px 12px;
        border-bottom: 2px solid #f2f2f2;
        font-size: 14px;
    }
    
    .header{
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 126px;
        margin-bottom: 4px;
    }
    
    .header-title{
        font-size: 36px;
        font-weight: 700;
        line-height: 38px;
    }
    .header-site-link{
        padding-top: 22px;
        font-size: 24px;
        font-weight: 700;
    }
    .food-menu-item {
        height: 150px;
    }
    .food-menu-delivery {
        margin-bottom: 2px;
        width: calc(100vw - 71px);
        height: 147px;
    }
    .food-menu-ua_ux {
        margin-bottom: 2px;
        width: calc(100vw - 71px);
        height: 147px;
    }
    .food-menu-desserts {
        margin-bottom: 2px;
        width: calc(100vw - 71px);
        height: 147px;
    }
    .food-menu-name {
        padding-top: 59px;
        font-size: 36px;
        font-weight: 700;    
    }
    .food-menu-item-element {
        left: calc(100vw - 71px);
        top: -149px;
        width: 71px;
        height: 147px;
    }
    .food-menu-item-element:after {
        right: 30px;
        top: 35%;
    }
    
    .food-menu-bottom {
        padding-top: 26px;
        padding-bottom: 10px;
    }
    .food-menu-bottom-name {
        font-size: 38px;
    }
    .food-menu-bottom-title {
        padding-top: 4px;
        font-size: 20px;
    }
    .price-menu-first-title-text {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        font-size: 40px;
    }
    .price-menu-second-title-text {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        font-size: 40px;
    }
    .price-menu-type {
        padding: 12px 20px;
    }
    .price-menu-type-text {
        margin-top: 5px;
        font-size: 30px;
    }
    .price-menu-items {
        padding: 12px 20px;
    }
    .price-menu-item-name {
        font-size: 27px;
    }
    .price-menu-item-value {
        font-size: 27px;
        font-weight: 700;
    }
    .price-menu-items-description {
        padding-top: 8px;
        font-size: 17.5px;
    }
    .price-menu-logo-first {
        width: 49px;
        height: 48px;
    }
    .price-menu-logo-second {
        width: 27px;
        height: 48px;
    }
    .price-menu-logo-third {
        width: 61px;
        height: 42px;
    }
    .price-menu-logo-fourth {
        width: 43px;
        height: 42px;
    }
    .footer {
        margin-top: 36px;
    }
    .footer-text {
        height: 46px;
    }
    .footer-text-slogan {
        padding-top: 28px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
    }
    .footer-text-news {
        padding-top: 8px;
        padding-bottom: 23px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }
    
}
@media (min-width: 979px) {
    .navbar {
        display: none;
    }
    .nav {
        margin-bottom: 1px;
        display: block;
        background-color: #3f4043;
    }
    .nav-content {
        display: flex;
        justify-content: space-between;
    }
    .nav-content > img {
        padding-right: 30px;
        margin-top: 10px;
        width: 104px;
        height: 83px;
    }
    .nav-menu {
        display: flex;
        justify-content: space-around;
    }
    .nav-menu-item {
        padding: 43px 32px;
    }
    .nav-menu-link {
        font-size: 15px;
        color: #ececec;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
    }
    .header{
        padding-top: 64px;
        padding-bottom: 260px;
        margin-bottom: 6px;
    }
    .header-title{
        line-height: 64px;
        font-size: 54px
    }
    .header-site-link{
        padding-top: 57px;
        font-size: 34px;
    }
    .food-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .food-menu-item {
        width: 100%;
        height: 327px;
    }
    .food-menu-item-element {
        display: none;
    }
    .food-menu-delivery {
        height: 100%;
        width: 100%;
        background-image: url(../img/delivery_2.jpg);
        background-position: center;
    }
    .food-menu-ua_ux {
        height: 100%;
        width: 100%;
        background-image: url(../img/ua_ux_2.jpg);
        background-position: center;
    }
    .food-menu-desserts {
        height: 100%;
        width: 100%;
        background-image: url(../img/desserts_2.jpg);
        background-position: center;
    }
    .food-menu-name {
        padding-top: 40%;
        padding-right: 42px;
        padding-left: 42px;
        font-size: 38px;
    }
    .food-menu-bottom {
        padding-top: 72px;
        padding-bottom: 21px;
        display: flex;
        justify-content: space-between;
    }
    .food-menu-bottom-name {
        font-size: 34px;
    }
    .food-menu-bottom-logo {
        margin-top: -20px;
        display: block;
    }
    .price-menu {
        display: flex;
        justify-content: space-around;
    }
    .price-menu-first-title-text {
        font-size: 34px;
    }
    .price-menu-second-title-text {
        font-size: 34px;
    }
    .price-menu-type {
        padding: 42px 25px;
    }
    .price-menu-type-text {
        margin-top: 10px;
        font-size: 26px;
    }
    .price-menu-item-name {
        font-size: 24px;
    }
    .price-menu-item-value {
        font-size: 24px;
    }
    .price-menu-items-description {
        font-size: 16px;
    }
    .price-menu-logo-first {
        width: 42px;
        height: 42px;
    }
    .price-menu-logo-second {
        width: 25px;
        height: 44px;
    }
    .price-menu-logo-third {
        width: 56px;
        height: 49px;
    }
    .price-menu-logo-fourth {
        width: 40px;
        height: 39px;
    }
    .footer {
        margin-top: 84px;
        height: 97px;
        display: flex;
        justify-content: space-between;
        background-color: #add9ae;
    }
    .footer-logo {
        padding-left: 30px;
        margin-top: -10px;
        display: block;
        height: 83px;
    }
    .footer-text {
        padding-top: 20px;
        padding-bottom: 38px;
        padding-right: 30px;
        padding-left: 230px;
        height: 20px;
    }
    .footer-text-slogan {
        padding: 0;
        display: inline-block;
    }
    .footer-text-news {
        padding: 0;
        display: inline-block;
    }
}
@media (min-width: 1199px) {
    .nav-content > img {
        padding-right: 38px;
    }
    .header {
        padding-top: 58px;
    }
    .header-title {
        font-size: 62px;
    }
    .header-site-link{
        padding-top: 53px;
        font-size: 38px;
    }
    .food-menu-item {
        height: 400px;
    }
    .food-menu-name {
        font-size: 43px;
    }
    .food-menu-bottom {
        padding-top: 77px;
        padding-bottom: 16px;
    }
    .food-menu-bottom-name {
        font-size: 40px;
    }
    .food-menu-bottom-logo {
        margin-top: -25px;
    }
    .price-menu-first-title-text {
        font-size: 40px;
    }
    .price-menu-second-title-text {
        font-size: 40px;
    }
    .price-menu-type {
        padding: 40px 30px;
    }
    .price-menu-type-text {
        font-size: 30px;
    }
    .price-menu-item-name {
        font-size: 27px;
    }
    .price-menu-item-value {
        font-size: 27px;
    }
    .price-menu-items-description {
        font-size: 17.5px;
    }
    .price-menu-logo-first {
        width: 49px;
        height: 48px;
    }
    .price-menu-logo-second {
        width: 27px;
        height: 48px;
    }
    .price-menu-logo-third {
        width: 61px;
        height: 42px;
    }
    .price-menu-logo-fourth {
        width: 43px;
        height: 42px;
    }
    .footer {
        margin-top: 128px;
    }
    .footer-logo {
        padding-left: 37px;
    }
    .footer-text {
        padding-right: 38px;
        padding-left: 400px;
    }
}